---
import BrokenThreadIcon from "./ui/BrokenThreadIcon.astro";

---
    <section class="container max-w-3xl mx-auto px-6 text-center  py-10 md:py-14 bg-brand-bg">         
          <p class="font-serif text-brand-purple text-lg">
            Le saviez-vous ?
          </p>
          <h2 class="mt-2 text-3xl md:text-4xl font-bold font-serif text-brand-dark">
            Le fil de la transmission s'est distendu.
          </h2>
          <p class="mt-6 text-lg text-brand-text/80 leading-relaxed">
            Les veillées où les parents racontaient les <span class="font-semibold text-brand-dark">Angano</span> s'estompent. Les joutes d'esprits autour des <span class="font-semibold text-brand-dark">Ankamatatra</span> se font rares. L'éloquence des <span class="font-semibold text-brand-dark">Kabary</span> n'est plus qu'un lointain écho pour beaucoup.
          </p>
          <div class="mt-8 flex justify-center items-center" aria-hidden="true">
           <BrokenThreadIcon/>
         
          </div>
          <p class="mt-8 text-lg text-brand-text/90">
            Il est temps de renouer ce fil.
          </p>
    </section>