---
import ActionCard from "./ui/ActionCard.astro";
import Button from "./ui/Button.astro";
import { Podcast, TabletSmartphone } from '@lucide/astro';
---
    <section id="participer" class="container mx-auto px-6 text-center bg-brand-bg py-20 md:py-28"> 
        <div class="max-w-3xl mx-auto">
          <h2 class="text-3xl md:text-4xl font-bold font-serif text-brand-dark">
            Devenez un acteur du projet KantoMG
          </h2>
          <p class="mt-4 text-lg text-brand-text/80">
            Votre voyage commence ici. Choisissez comment vous souhaitez participer et aider à raviver la flamme de notre héritage.
          </p>
          <div class="mt-10">
            <Button text="Télécharger KantoMG" href="#" size="large"/>
          </div>
        </div>

        <div class="mt-16 max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
          <ActionCard
            title="Devenir Bêta-Testeur"
            description="Soyez parmi les premiers à découvrir les nouveautés et aidez-nous à améliorer l'application avec vos retours."
            buttonText="Me contacter"
            href="https://www.messenger.com/cm/AbabmOxZNm5qOqTH/?send_source=cm%3Ashare_to_more"
          >
            <span slot="icon"> <TabletSmartphone /></span>
          </ActionCard>

          <ActionCard
            icon=""
            title="Rejoindre la Communauté"
            description="Partagez vos idées, discutez avec d'autres passionnés et participez à l'avenir de KantoMG."
            buttonText="Rejoindre la discussion"
            href="https://www.messenger.com/cm/AbabmOxZNm5qOqTH/?send_source=cm%3Ashare_to_more"
          >
            <span slot="icon">  <Podcast /></span>
          </ActionCard>
        </div>
    </section>