---
import Button from "./ui/Button.astro";
import icon from "../assets/icon.webp";
---

<section class="container mx-auto px-6 relative overflow-hidden py-10 md:py-28">
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <div class="text-center md:text-left">
        <h1
          class="text-4xl md:text-5xl lg:text-6xl font-serif font-bold tracking-tight text-brand-dark"
        >
          Tisser le lien citoyen. <br /> Révéler le <span
            class="text-brand-purple"
            >Kanto
          </span>qui est en toi.
        </h1>
        <p
          class="mt-6 text-lg md:text-xl text-brand-text/80 max-w-xl mx-auto md:mx-0"
        >
          Là où la sagesse des ancêtres éclaire les citoyens de demain. KantoMG
          est votre guide pour une citoyenneté active, nourrie par la richesse
          de notre culture.
        </p>
        <div class="mt-8 flex flex-col items-center md:items-start">
          <Button text="Télécharger l'application" href="#" size="large" />
          <div class="mt-6 flex items-center gap-4">
            <a
              href="#"
              class="transition-transform hover:scale-105"
              aria-label="Download on the App Store"
            >
            </a>
            <a
              href="#"
              class="transition-transform hover:scale-105"
              aria-label="Get it on Google Play"
            >
            </a>
          </div>
        </div>
      </div>
      <div
        class="relative h-full flex items-center justify-center -order-1 lg:order-1"
      >
        <div
          class="relative mx-auto border-brand-dark/80 bg-brand-dark/80 border-[12px] rounded-[2.5rem] h-[550px] w-[280px] shadow-2xl shadow-brand-purple/30"
        >
          <div
            class="w-[120px] h-[18px] bg-brand-dark/80 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"
          >
          </div>
          <div
            class="h-[40px] w-[3px] bg-brand-dark/80 absolute -start-[15px] top-[110px] rounded-s-lg"
          >
          </div>
          <div
            class="h-[40px] w-[3px] bg-brand-dark/80 absolute -start-[15px] top-[160px] rounded-s-lg"
          >
          </div>
          <div
            class="h-[56px] w-[3px] bg-brand-dark/80 absolute -end-[15px] top-[132px] rounded-e-lg"
          >
          </div>
          <div
            class="rounded-[2rem] relative overflow-hidden w-full h-full bg-brand-dark"
          >
            <img
              src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=800&auto=format&fit=crop"
              class="w-full h-full object-cover"
              alt="KantoMG App Screenshot"
              width="800"
              height="800"
            />
            <img
              src={icon.src}
              class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-40 rounded-full object-cover mix-blend-multiply"
              alt="Logo brand"
              width={icon.width}
              height={icon.height}
            />
          </div>
        </div>
      </div>
    </div>
</section>
