---
import Footer from "../components/Layout/Footer.astro";
import Header from "../components/Layout/Header.astro";
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>KantoMg | Madagascar </title>
	</head>
	<body class="bg-brand-bg/95 font-sans text-brand-text antialiased">
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
